/*LO PRIMERO*/
*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: rgb(39, 39, 39);
    transition: .3s ease all;
}


/*COMIENZO NAVBAR*/

.imagen-primera {
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#container-padre {
    background-color: rgb(71, 8, 8);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px
}

.nav {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    color: white;
}
/*FIN NAVBAR*/


/*COMIENZO FOOTER*/
footer{
    margin-top: 30px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: rgb(71, 8, 8);
    color: white;
}

.box-footer{
    display: flex;
    justify-content: center;
}

.box1{
    text-align: center;
}
/*FIN FOOTER*/


/*CAMBIO COLOR LETRAS CALCULAR PRECIO Y TOTAL*/
.col-sm-4{
    color: rgb(0, 0, 0);
}
/*FIN CAMBIO COLOR LETRAS CALCULAR PRECIO Y TOTAL*/


